$enable-responsive-font-sizes: true;

$base-brown: #c1a067;

$base-red: #c5717d;

$base-grey: #eceaed;

$test-border: 1px solid black;

@font-face {
  font-family: 'Circe';
  src: url('fonts/Circe-Regular.eot');
  src: local('Circe'), local('Circe-Regular'),
  url('fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Circe-Regular.woff') format('woff'),
  url('fonts/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('fonts/Circe-Bold.eot');
  src: local('Circe Bold'), local('Circe-Bold'),
  url('fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Circe-Bold.woff') format('woff'),
  url('fonts/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@mixin media-down-xxs{
  @media (max-width: 450px) { @content; }
}

@mixin media-down-xs{
  @media (max-width: 575px) { @content; }
}

@mixin media-down-sm{
  @media (max-width: 767px) { @content; }
}

@mixin media-down-md{
  @media (max-width: 991px) { @content; }
}

@mixin media-down-1100 {
  @media (max-width: 1099px) { @content; }
}

@mixin media-down-lg{
  @media (max-width: 1199px) { @content; }
}

@mixin media-down-1230 {
  @media (max-width: 1230px) { @content; }
}

@mixin media-down-1350{
  @media (max-width: 1350px) { @content; }
}

@mixin median-down-1437 {
  @media (max-width: 1437px) { @content; }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Circe', sans-serif;
  font-size: 16px;

  margin: 0;
  min-width: 324px;

  &:hover {
    cursor: default;
  }
}

.form-control:focus, button:focus, input:focus, li:focus, a:focus {
  outline:0 !important;
  //border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:hover {
  text-decoration: none;
}

.testBorder {
  border: 0.5px solid black;
}

.fancybox-container {
  background: linear-gradient(0deg,$base-brown 10%, #ffff 230%);
}

.fancybox-bg {
  background: none !important;
}

div.popUp {
  display: none;
  text-align: center;
  height: 370px;
  width: 370px;
  margin: 0;
  padding: 30px 0 0 0;

  @include media-down-xs {
    width: 290px;
    height: 385px;
  }

  .callBack {
    font-weight: bold;
    font-size: 31px;
    margin-bottom: 12px;

    @include media-down-xs {
      font-size: 28px;
      margin-bottom: 0;
    }
  }

  form {
    padding-top: 20px;
  }

  .inputPop {
    margin-top: 15px;
    width: 340px;
    height: 30px;
    outline: none;
    text-align: center;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    @include media-down-xs {
      width: 250px;
    }
  }

  .submitPop {
    margin-top: 5px;
    width: 340px;
    height: 64px;
    color: white;
    font-size: 18px;
    font-weight: normal;
    background: #217ceb;
    outline: none;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    @include media-down-xs {
      width: 250px;
    }
  }

  .agreement {
    margin: 15px auto 10px auto;
    width: 340px;
    font-size: 11px;
    font-weight: normal;
    color: #777777;
    line-height: 1.3;
    padding: 0;

    @include media-down-xs {
      width: 250px;
    }
  }

  .thanks1 {
    font-size: 32px;
    width: 250px;
    margin: 50px auto 40px auto;

    @include media-down-xs {
      font-size: 27px;
    }
  }

  .thanks2 {
    font-size: 16px;
    width: 240px;
    margin: 0 auto;
  }

}

.container-fluid {
  position: relative;
  z-index: 1;
  overflow-x: hidden
}

.header {
  border-bottom: 1px solid $base-brown;
  justify-content: center;

  position: relative;
  z-index: 7;
  background: white;

  &__row {
    justify-content: space-between;
  }

  &__menu-div {
    padding: 0;
  }

  &__menu {
    padding-left: 6px;
  }

  &__menu-link {
    color: black;
    font-size: 0.85em;
    padding: 10px 52px 10px 0px ;

    &:hover {
      color: $base-brown;
    }

    @include media-down-lg {
      padding-right: 25px;
    }

  }

  &__user-div {
    font-size: 0.85em;

    @include media-down-md {
      height: 60px;
    }
  }

  &__account{
    padding: 11px 43px 9px 40px;
    border-width: 0 1px 0 1px;
    border-color: $base-brown;
    border-style: solid;

    &:hover {
      color: $base-brown;
      cursor: pointer;
    }

    @include media-down-md {
      height: 60px;
      padding-top: 20px;
    }

    @include  media-down-xs {
      padding: 20px 15px 0 15px;
    }
  }

  &__favorite{
    padding: 10.6px 39px 0 43px;

    &:hover {
      color: $base-brown;
      cursor: pointer;
    }

    @include media-down-md {
      height: 60px;
      padding-top: 20px;
    }

    @include  media-down-xs {
      padding: 20px 15px 0 15px;
    }
  }

  &__circle{
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius:100%;
    margin: 0 0 0 -2px;
    top: 5px;
    background: $base-brown;
    padding: 0.5px 0;

    font-size: 0.65rem;
    color: white;
    text-align: center;

    @include media-down-md {
      display: none;
    }
  }
}

.burger-menu {
  position: absolute;
  z-index: 6;
  top: -200px;
  left: 20px;
  justify-content: center;
  width: 100%;
  transition: 0.3s;

  &__inner {
    list-style: none;
    background: white;
    padding: 15px 20px;
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
  }

  &__a {
    color: black;
    display: block;
    width: 100%;
    padding-bottom: 10px;

    &:hover {
      color: $base-brown;
    }
  }
}

.block-logo {
  justify-content: center;
  padding: 0 0 18px 0;

  position: relative;
  z-index: 5;
  background: white;

  &__row {
    justify-content: space-between;
  }

  &__logo {
    padding: 9px 0 0 6px;

    &:hover {
      cursor: pointer;
    }

    @include media-down-sm {
      display: flex;
      justify-content: center;
    }
  }

  &__search-inner {
    float: right;
    padding-right: 30px;
    width: 86.8%;
    @include media-down-lg {
      width: 80%;
    }
    @include media-down-md {
      width: 70%;
      margin: 0 auto;
      padding: 0;
    }
    @include media-down-sm {
      float: left;
      width: 90%;
      padding-right: 0;
    }

    @include media-down-xs {
      width: 100%;
    }
  }

  &__search-form {
    border-width: 0 0 2px 0;
    border-style: solid;
    color: $base-brown;
    padding: 22px 0 14px 0;
  }

  &__search-input {
    font-size: 0.7rem;
    letter-spacing: 1.75px;
    color: black;
    background: transparent;
    outline: none;
    border: 0;
    width: 95%;
    padding-left: 1px;

    @include media-down-xs {
      letter-spacing: 1px;
      font-size: 0.7rem;
      width: 85%;
    }
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    text-transform: uppercase;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    text-transform: uppercase;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    text-transform: uppercase;
  }

  &__search-button {
    background: transparent;
    border: 0;
    float: right;
    padding-top: 2px;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
  }

  &__contacts-item {
    text-transform: uppercase;
    padding-top: 29px;
    font-size: 0.95rem;
    font-weight: bold;
    letter-spacing: 0.7px;

    &_font-small {
      font-size: 0.75rem;
      letter-spacing: 1.4px;
    }
  }

  &__contacts-phone {
    font-size: 0.90rem;
    letter-spacing: 1.2px;
    padding-top: 31px;
    margin-left: -1px;

    @include media-down-xs{
      display: inline-block;
    }

  }

  &__contacts-mail {
    padding-top: 29px;

    @include media-down-xs {
      display: none;
    }
  }

  &__call-me {

    &:hover {
      cursor: pointer;
    }

    @include media-down-1350 {
      display: none;
    }
  }

  &__contacts-schedule {
    letter-spacing: 0.85px;
    @include media-down-1100 {
      display: none;
    }
  }

  &__contacts-image {
    padding: 0 11px 0 0;
  }

  &__cart {
    padding: 26px 0 0 1px;
  }

  &__cart-square {
    background: $base-brown;
    width: 90px;
    height: 84px;
    margin: 0 auto;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      background: #cfad73;

      transform: scale(1.1);
    }

    @include media-down-xs {
      width: 60px;
      height: 60px;
      //float: right;
      margin: 5px 0 0 0 ;

      &:hover {
        transform: none;
      }
    }
  }

  &__cart-bag {
    padding: 19px 0 0 28px;
    @include media-down-xs {
      width: 28px;
      padding: 10px 0 0 0px;
      margin-left: 15px;
    }
  }

  &__cart-number {
    color: white;
    font-size: 0.6rem;
    position: absolute;
    padding: 7.5px 0 0 15px;
    @include media-down-xs {
      display: none;
    }
  }
}

.block-catalog {
  background: linear-gradient(90deg, #302a31 89%, #c16774 11%);
  justify-content: center;

  @include  media-down-md {
    background: #302a31;
  }


  &__inner {
    padding: 0 0 0 8px;
    height: auto;
  }

  &__nav {
    background: #302a31;
    display: inline-flex;
    z-index: 3;

    flex-flow: wrap;
    width: 92.5%;

    @include media-down-md {
      width: 100%;
      justify-content: center;
    }

    @include media-down-xs {
      justify-content: normal;
      flex-flow: column;

      position: absolute;
      z-index: 4;

      width: 100%;
      left: 0;
      top: -1100px;
      transition: 0.5s;
      padding-left: 11px;
    }
  }

  &__nav-link {
    background: #302a31;
    z-index: 2;
    color: white;
    letter-spacing: 0.4px;
    padding: 19.5px 56px 17px 0;

    //height: 20px;
    display: flex;

    &:hover {
      color: $base-brown;
      text-decoration: none;
    }

    @include media-down-md {
      padding-left: 28px;
      padding-right: 28px;
    }

    @include media-down-xs {
      width: 45%;
      padding-left: 30px;

      position: relative;
      z-index: 2;
    }
  }

  &__nav-link_hidden {
    color: #c16774;
  }

  &__nav-link_font-brown {
    color: $base-brown;
  }

  &__nav-presents {
    background: #302a31;
    //z-index: 2;
    color: white;
    letter-spacing: 0.4px;
    padding: 19.5px 40px 17px 0;
    display: inline-flex;

    &:hover {
      color: $base-brown;
      text-decoration: none;
    }

    @include media-down-md {
      padding-left: 28px;
      padding-right: 28px;
    }

    @include media-down-xs {
      width: 45%;
      padding-left: 30px;
    }
  }

  &__drop-menu {
    padding-top: 21px;
    margin-top: -2px;
    margin-left: -2.4%;
    border-width: 3px 0 0 0;
    border-color: $base-brown;
    border-radius: 0;
    box-shadow: 2px 2px 5px 0.1px rgba(0, 0, 0, 0.1);

    //transition: 1s;

    @include media-down-xs {
      border-width: 5px 5px 5px 5px;
      margin-right: 5px;

      float: right;
      width: 50%;
    }
  }

  &__drop-menu-item {
    font-size: 1.0rem;
    letter-spacing: 0.4px;

    padding: 0px 28px 13px 27px;

    @include media-down-xs {
      //display: flex;
      display: block;
      //width: 20px;
      padding: 0 0 10px 10px;
    }
  }

  &__sale {
    display: inline-block;
    float: right;
    color: white;
    //background: #c16774;
    z-index: 2;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding: 19.5px 8px 0 0;

    &:hover {
      color: white;
      text-decoration: none;
      text-shadow: 0 0 17px white;
    }

    @include median-down-1437 {
      padding-top: 40px;
      padding-right: 0px;
      font-size: 1.2rem;
    }
  }

  &__catalog-drop-link {
    color: white;
    font-size: 1.2rem;
    padding-left: 20px;


    &:hover {
      color: $base-brown;
    }
  }

}

.block-catalog2-drop-link {
  background: black;
  justify-content: center;

  position: relative;
  z-index: 5;

  padding: 15px 0;

  &__link {
    color: white;
    font-size: 1.2rem;
    padding-left: 30px;

    &:hover {
      color: $base-brown;

      svg {
        fill: $base-brown;
      }
    }

  }

  &__drop-arrow {
    fill: white;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    display: inline;
    transform: rotate(0.25turn);
    transition: 0.3s;
  }
}

.slider-main {
  margin: 0;
  padding: 0 0 20px 0;

  @include media-down-sm {
    display: none;
  }

  &__inner {
    padding: 0;
    margin: 0 auto;
  }

  &__slider {
    padding: 0 0 0 0;
    margin-left: -6px;

    @include media-down-md{
      margin-left: 0;
    }
  }

  &__tab {
    padding: 41px 0 0 0;
    overflow: hidden;
    margin-left: -1px;

    @include media-down-md {
     margin-left: -2px;
     padding-left: 40px;
    }
  }

  &__h1 {
    position: absolute;
    z-index: 3;
    top: 208px;
    font-size: 2.65rem;
    letter-spacing: 5px;
    line-height: 1.61;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;

    @include media-down-md {
      top: 180px;
      font-size: 1.8rem;
      letter-spacing: 2.5px;
    }
  }

  &__brand {
    letter-spacing: 4.2px;
    font-size: 2.65rem;

    @include media-down-md {
      font-size: 1.8rem;
      letter-spacing: 2.5px;
    }
  }

  &__p {
    position: absolute;
    z-index: 1;

    top: 397px;
    width: 500px;

    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: $base-brown;

    text-transform: uppercase;
    font-size: 0.63rem;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: $base-brown;

    padding-bottom: 15px;

    &:hover {
      text-shadow: 0 0 17px #c1a067;
      cursor: pointer;
    }
  }

  &__image-wrap {
    height: 487px;
    margin-top: 21px;
    padding: 0;
    margin-left: 17%;
    position: relative;
    z-index: 2;

    background-image:  url("images/slider-main__img.png");
    background-image: linear-gradient(90deg, rgba(235,235,235,1), rgba(235,235,235,0) 65%), url("images/slider-main__img.png");
    background-repeat: no-repeat;

    @include media-down-md {
      width: 640px;
      margin-left: 35%;
      background-position: center;

    }
  }

  .slick-dots {
    position: absolute;
    z-index: 3;
    top: 89.2%;
    left: -25.4%;
    display: flex;
    justify-content: center;

    list-style-type: none;

    li {
      margin: 0;
      padding: 0;
      height: 8px;
      width: 41px;
      text-align: center;

      @include media-down-md {
        width: 25px;
      }
    }

    button {
      display: block;
      width: 10px;
      height: 10px;
      padding: 0;
      margin: 0 auto;

      border: 1.7px solid $base-brown;
      border-radius: 0;
      background-color: transparent;

      text-indent: -9999px;

      @include media-down-md {
        width: 10px;
        height: 10px;

      }

    }

    li.slick-active button {
      background-color: $base-brown;
    }

  }

  &__recommend {
    position: absolute;
    right: 50px;
    margin-top: 42px;
    width: 330px;

    background: #f9f9f9;
    overflow: visible;

    @include media-down-1230 {
      display: none;
    }
  }

  &__h3 {
    width: 334px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: $base-brown;

    font-size: 1rem;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 43px 0 33px 0;
    margin-left: 45.5px;
  }

  &__nav {
    list-style: none;
    padding: 34px 0 21px 0;
  }

  &__nav-item:hover {
    cursor: pointer;
    color: #c16774;
  }

  &__nav-link {
    display: block;
    letter-spacing: 0.45px;
    padding: 0 0 12px 46px;
  }
}

.block-features {
  justify-content: center;

  @include  media-down-md {
    display: none;
  }

  &__feature-column {
    padding: 0;
    display: flex;
  }

  &__line {
    display: inline-block;
    width: 27%;
    height: 15px;

    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #eceaed;
  }

  &__text {
    display: inline-block;
    width: 200px;
    padding: 8.2px 0 0 28.7px;

    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    line-height: 1.6;

    @include media-down-lg {
      text-align: center;
    }
  }
}

.slider-hits {

  padding: 0 0 19px 0;

  @include media-down-md {
    justify-content: center;
  }

  &__h2 {
    display: block;
    width: 418px;
    margin: 0 auto;
    text-align: center;
    padding: 66px 0 15px 0;

    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.1px;

    border-width: 0 0 2.2px 0;
    border-style: solid;
    border-color: $base-brown;

    @include media-down-sm {
      font-size: 1.5rem;
      width: 300px;
    }

  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 70px;
  }

  &__prev, &__next {
    display: inline-block;
    width: 30px;
    height: 30px;
  }

  &__slider {
    display: inline-block;
    width: 93%;
  }

  &__tab {
    text-align: center;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #eceaed;
    padding: 0px 0 0 0;

    @include media-down-md {
      border: none;
    }
  }

  &__tab1_align {
    padding-right: 13px;
    margin-top: -7px;
  }

  &__tab2_align {
    padding: 4px 9px 0 0;
  }

  &__tab3_align {
    padding: 5px 5px 0 0;
  }

  &__tab4_align {
    padding-top: 16px;
  }

  &__sale-icon {
    position: absolute;
    width: 47px;
    height: 22px;
    margin: 8px 0 0 4px;
    background: $base-red;

    font-size: 0.7rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 4px 0 0 0;
  }

  &__img {
    margin: 0 auto;
  }

  &__img_tab2-3 {
    padding: 0 0 12px 0;
  }

  &__img_tab4 {
    padding: 0 0 25px 0;
  }

  &__name {
    padding: 24.6px 0 0 0;
    margin: 0;

    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: -0.6px;
  }

  &__description {
    padding: 16px 0 0 0;
    margin: 0;

    font-size: 0.9rem;
    letter-spacing: -0.3px;
  }

  &__price {
    padding: 18px 0 0 0;
    font-size: 0.9rem;
    letter-spacing: -0.1px;
    margin: 0;
  }

  &__price_red {
    color: $base-red;
    padding: 0 12px 0 6px;
    margin-left: 4px;



    text-decoration: none;
    background-image: -webkit-linear-gradient(transparent 11px,$base-red 5px,$base-red 12px,transparent 9px);
    background-image:    -moz-linear-gradient(transparent 11px,$base-red 5px,$base-red 12px,transparent 9px);
    background-image:     -ms-linear-gradient(transparent 11px,$base-red 5px,$base-red 12px,transparent 9px);
    background-image:      -o-linear-gradient(transparent 11px,$base-red 5px,$base-red 12px,transparent 9px);
    background-image:         linear-gradient(transparent 11px,$base-red 5px,$base-red 12px,transparent 9px);
  }

  &__prev-button {
    background: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 60px;
    width: 30px;

    position: relative;
    z-index: 3;

    &:hover {
      .slider-hits__prev-arrow {
        fill: $base-brown;
      }
    }

  }

  &__prev-arrow {

    height: 30px;
    width: 38px;
    position: absolute;
    margin: -19px 0 0 -11px;
    fill: #ebeaea;
    transform: rotate(2.5turn);

  }

  &__next-button {
    background: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 60px;
    width: 30px;

    position: relative;
    z-index: 3;

    &:hover {
      .slider-hits__next-arrow {
        fill: $base-brown;
      }
    }

  }

  &__next-arrow {

    height: 30px;
    width: 38px;
    position: absolute;
    margin: -19px 0 0 -31px;
    fill: #ebeaea;
    //transform: rotate(2.5turn);

  }



}

.slider-fresh {

  &__slider {
    display: inline-block;
    width: 93%;
  }
}

.slider-specials {
  padding: 4px 0 0 0;

  &__h2 {
    padding-bottom: 25px;
  }

  &__slider {
    display: inline-block;
    width: 93%;
  }
}

.slider-brands {
  padding: 22px 0 0 0;
}

.slider-fresh {

  &__tab1_align {
    padding-top: 3px;
    margin-left: -5px;
  }

  &__img_align {
    padding-bottom: 14px;
  }

  &__price_align {
    margin-left: -5px;
  }

  &__tab3_align {
    margin-left: -2px;
  }

  &__img_tab3 {
    //padding-top: 0px;
    margin-top: -9px;
  }

  &__tab4_align {
    padding-top: 3px;
  }

  &__img_tab4 {
    padding: 0 0 14px 0;
  }
}

.slider-specials {

  &__tab1_align {
    padding: 5px 0 0 0;
    margin-left: -6px;
  }

  &__tab1-img {
    padding: 0 0 11px 0;
  }

  &__tab2-img {
    padding: 0 0 10px 0;
  }

  &__tab3-img {
    padding: 0 0 15px 0;
  }

  &__tab3-name {
    line-height: 1.1;
  }

  &__tab4-img {
    margin-top: -6px;
  }

  &__prev-button, &__next-button {
    margin-top: -17px;
  }

}

.slider-brands {
  padding: 9px 0 0 0;
  display: block;

  @include media-down-md {
    display: flex;
    justify-content: center;
  }

  &__h2 {
    padding-left: 2px;
  }

  &__h3 {
    width: 92px;
    margin: 0 auto;

    font-size: 0.67rem;
    font-weight: bold;
    color: $base-brown;
    text-transform: uppercase;
    letter-spacing: 2.3px;

    padding: 31px 0 0 2px;

    @include media-down-md {
      display: none;
    }

  }

  &__inner {
    padding: 20px 0 0 11px;
  }

  &__slider-names {
    display: inline-block;
    width: 93%;
  }

  &__names-tab {
    &:hover {
      cursor: pointer;
    }
  }

  &__names-img2 {
    padding-left: 5px;
  }

  &__names-img3 {
    padding-left: 5px;
  }

  &__names-img4 {
    padding-top: 3px;
  }

  &__names-img5 {
    margin-left: -3px;
    padding-top: 2.5px;
  }

  &__names-img6 {
    margin-left: -3px;
    padding-top: 2.5px;
  }

  &__inner-lists {
    padding: 20px 33px 0 35px;
    justify-content: space-between;

    @include media-down-lg {
      padding-right: 33px;
    }
  }

  &__slider-list {
    display: inline-block;
    width: 79.4%;
    padding: 9px 0 0 0;

    @include media-down-lg {
      display: flex;
      justify-content: center;
      justify-items: center;
      text-align: center;
    }
  }

  &__list-ul {
    list-style: none;
  }

  &__list-ul1 {
    padding-left: 1px;
  }

  &__list-ul2 {
    padding-left: 1px;
  }

  &__list-ul3 {
    margin: -1.7px 0 0 0;
    padding-left: 8px;
  }

  &__list-ul4 {
    padding-left: 8px;
  }

  &__list-ul5 {
    padding-left: 8px;
  }

  &__list-a {
    line-height: 2.3;
    letter-spacing: 0.5px;
    color: black;

    &:hover {
      cursor: pointer;
      color: $base-brown;
      text-decoration: none;
    }
  }
}

.stories {
  justify-content: center;
  padding-bottom: 60px;

  &__h2{
    margin: 0 auto;
    text-align: center;
    z-index: 2;

    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.8px;

    padding: 103px 0 17px 0;

    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: $base-brown;

    width: 32%;

    @include media-down-lg {
      width: 50%;
    }

    @include media-down-sm {
      width: auto;
      font-size: 1.4rem;
    }
  }

  &__news{
    padding: 0;
  }

  &__articles {
    padding: 36px 0 0 0;

    @include media-down-md {
      padding-left: 10px;
    }
  }

  &__article {
    margin-right: 11.5%;
    padding: 35px 0 10px 3px;

    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $base-grey;

    &:hover {
      cursor: pointer;
      .stories__article-h3 {
        color: $base-brown;
      }
    }
  }

  &__article3 {
    padding-top: 32px;
  }

  &__article-h3 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding: 0 0 5px 0;

    &:hover {
      cursor: pointer;
      color: $base-brown;
    }
  }

  &__article3-h3 {
    padding-left: 3px;
  }

  &__article-date {
    font-size: 0.81rem;
    color: $base-brown;
    letter-spacing: 0.35px;
    padding: 0 0 0 2px;
    margin: 0;
  }

  &__article-p {
    padding: 14px 0px 0 3px;

    font-size: 0.9rem;
    letter-spacing: 0.15px;
  }

  &__articles-more-link{
    display: block;
    margin: 0 auto;

    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: $base-brown;

    height: 50px;
    width: 200px;

    padding: 29px 0 0 0;

    &:hover {
      cursor: pointer;
    }
  }

  &__articles-link_color {
    color: $base-brown;
  }

  &__news {
    background: #f9f9f9;
    margin-top: -97px;
    z-index: 1;

    padding: 125px 0px 0 0;

    @include media-down-md {
      margin-top: 20px;
      padding-top: 23px;
    }

    @include  media-down-xs {
      display: none;
    }
  }

  &__news-content {
    padding: 19px 0 0 22px;
    display: flex;

    &:hover {
      cursor: pointer;
      .stories__article-h3 {
        color: $base-brown;
      }
    }
  }

  &__news-img-wrap {
    display: inline-block;
    height: 185px;
    width: 252px;

    background: rgba(235,235,235,1);
    background-image:  url("images/stories__news-img1.png");
    background-image: linear-gradient(270deg, rgba(235,235,235,1), rgba(235,235,235,0) 150%), url("images/stories__news-img1.png");
    background-repeat: no-repeat;
  }

  &__news-img-wrap2 {

    margin-left: -5%;
    z-index: 1;

    background: rgba(235,235,235,1);
    background-image:  url("images/stories__news-img1.png");
    background-image: linear-gradient(90deg, rgba(235,235,235,1), rgba(235,235,235,0) 130%), url("images/stories__news-img2.png");
    background-repeat: no-repeat;
  }

  &__news-img-wrap3 {
    background-image: linear-gradient(270deg, rgba(235,235,235,1), rgba(235,235,235,0) 150%), url("images/stories__news-img3.png");
  }

  &__news-text {
    display: inline-block;
    margin-left: -7.6%;
    width: 65%;
    padding: 22px 0 0 0;
  }

  &__news-text2 {
    margin: 0;
    z-index: 2;
    width: 60%;
  }

  &__news-text3 {
    margin-left: -7.8%;
    padding-top: 23px;
  }

  &__news-h3-3 {
    padding-top: 1px;
  }

  &__news-date {
    padding-top: 8px;
    padding-left: 1px;
  }

  &__news-date2-3 {
    padding-top: 2px;
  }

  &__news-p {
    padding-left: 2px;
  }

  &__news-more-link {
    padding: 33px 0 48px 6px;
  }
}

.footer {
  justify-content: center;
  background: #302a31;
  color: white;

  &__inner {
    padding: 0;
  }

  &__navigation {
    padding-bottom: 45px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(234, 232, 235, 0.2);

    @include media-down-lg {
      justify-content: center;
    }
  }

  &__navigation-col1 {
    padding-left: 22px;

    @include media-down-xs{
    padding: 0;
    }

    @include media-down-xxs {
      text-align: center;
    }
  }

  &__navigation-col2 {
    padding-left: 16.6px;

    @include media-down-xs{
      padding: 0;
    }

    @include media-down-xxs {
      text-align: center;
    }
  }

  &__navigation-col3 {
    padding-left: 7px;

    @include media-down-xs {
      text-align: center;
    }
  }

  &__navigation-col4 {
    padding: 0 2% 0 0;
  }

  &__col1-h3 {
    padding-top: 75px;

    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__col3-h3 {
    padding-top: 71.5px;
    padding-left: 3px;
    font-size: 1.1rem;
    letter-spacing: 2px;
  }

  &__col1-nav {
    list-style: none;
    padding-top: 20px;
  }

  &__col1-li {
    padding: 0 0 2px 0;
  }

  &__col1-a {
    color: white;
    font-size: 0.9rem;
    letter-spacing: 0.2px;

    &:hover {
      color: $base-brown;
    }
  }

  &__col3-p {
    padding-top: 10px;

    font-size: 0.9rem;
    letter-spacing: 0.1px;
    line-height: 2.75;

    margin: 0;
  }

  &__contacts-break {
    display: none;

    @include media-down-xxs {
      display: block;
    }
  }

  &__col3-schedule {
    letter-spacing: 0.2px;
  }

  &__col3-ul {
    list-style: none;
    padding: 19px 0 0 3px;

    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.75px;
  }

  &__col3-li {
    padding-bottom: 13px;
  }

  &__col3-a {
    &:hover {
      cursor: pointer;
    }
  }

  &__col3-a2 {
    letter-spacing: 2.1px;
  }

  &__col3-a3 {
    letter-spacing: 1.86px;
  }

  &__col3-img-mail {
    margin-left: -2px;
    margin-right: 2px;
  }

  &__col4-h3 {
    padding-left: 1px;
  }

  &__col4-email-input {
    display: block;
    width: 100%;

    padding: 22px 0 14px 3px;

    background: transparent;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: $base-brown;

    font-size: 0.7rem;
    letter-spacing: 1.75px;
    color: white;
  }

  &__col4-email-submit {
    display: block;
    float: right;
    margin-top: 26.5px;
    margin-right: -3px;

    background: transparent;
    border: none;

    font-size: 0.7rem;
    color: $base-brown;
    text-transform: uppercase;
    letter-spacing: 1.9px;

    &:hover {
      cursor: pointer;
    }
  }

  &__col4-instagram {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 18px ;

    width: 280px;
    height: 50px;

    align-items: center;

    @include media-down-xs {
      position: relative;
      margin-bottom: 0;
      padding-top: 60px;
      padding-bottom: 30px;
    }

    @include  media-down-xxs {
      margin-left: -25px;
    }
  }

  &__col4-circle {
    display: inline-flex;
    width: 46px;
    height: 46px;
    background: white;
    border-radius: 50%;
    align-items: center;

    margin: 0 0 0px 3px;
  }

  &__col4-instagram-icon {
    margin: 0 auto;
    height: 25px;
  }

  &__col4-instagram-p {
    display: inline-block;
    margin: 0;
    padding-left: 22px;
    padding-top: 2px;

    font-size: 0.68rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.09px;
  }

  &__authors{
    display: block;
    padding: 40px 20px;

    @include media-down-xs {
      text-align: center;
    }
  }

  &__copyrights {
    display: inline-block;
    font-size: 0.9rem;
    letter-spacing: 0.3px;

    @include media-down-xs {
      display: block;
    }
  }

  &__made-by {
    display: inline-flex;
    width: 315px;
    padding-top: 3px;
    float: right;
    align-items: center;
    font-size: 0.9rem;
    letter-spacing: 0.2px;

    @include media-down-xs {
      display: block;
      float: none;
      width: 100%;
    }
  }

  &__made-by-p {
    margin: 0;
  }

}















